body {
    background-color: #e0e0e0;
}

body .navigation {
    margin: 10px 0px 15px 0px;
}

body .navigation a {
    font-size: large;
    color: #2e2e2e;
    margin: 10px 10px;
    padding: 5px 5px;
    border: solid 1px #343d46;
    text-decoration: none;
}

body .navigation a:visited {
    color: #2e2e2e;
}

.button {
    border: 1px solid #000;
    margin: 5px 5px;
    padding: 40px 15px;
    background-color: #ececec;
    float: left;
}